<div style="padding:10px;">
<h2>Message Management</h2>
<hr>
<p><input type="button" value="Add" onclick="javascript: window.location.href='index.php?s=message&act=add_message' ;" /></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
  <tr class="head">
    <td width="10"><strong>ID</strong></td>
	<td width="30%"><strong>Image</strong></td>
	<td width="30%"><strong>Posting</strong></td>
	<td><strong>Posting Date</strong></td>
	<td><strong>Status</strong></td>
	<td width="10%"><strong>Action</strong></td>
	</tr>
  {section name=i loop=$list}
  <tr>
    <td>{$list[i].id}</td>
    <td>
	{if $list[i].img eq !0}
	<img src="{$img_path}/{$list[i].img}" alt="" height="42" width="42" />&nbsp;
	{else} &nbsp;
	{/if}</td>
    <td>{$list[i].posting}</td>
    <td>{$list[i].posting_date|date_format}</td>
    <td>{if $list[i].n_status eq 1}
    	Aktif
    	{else}
    	Tidak Aktif
    	{/if}</td>
    <td>
		<a href="?s=message&act=edit_message&id={$list[i].id}" style="text-decoration:none" class="addSubPage">Edit</a>
		<a onclick="return confirm('Are you sure want to delete this Message ?');" href="?s=message&act=delete_message&id={$list[i].id}" style="text-decoration:none" class="deletePage">Delete</a>
	</td>
    </tr>
  {/section}
</table>
<p>{$paging}</p>
</div>