<script>
	var pt = "{$ping_token}";
	var at = "{$access_token}";
	var at2 = "{$access_token2}";
	var fid = 15;
	var service_url="{$service_url}";
	var nickname = "123";
</script>
<div id="header">
	<div id="slide">
		<div id="sliderContent" class="ui-corner-all">		
		  <div id="viewContainer" class="viewer ui-corner-all">
			<div id="pageContainer" class="content-conveyor ui-helper-clearfix">			 
			  <div id="left">
					<div id="l3" class="item">
                  	<div class="status">
                    	<div class="user">
                        	<a class="thumb" href="#"><img src="content/user/thumb/1.jpeg" /></a>
                            <span class="nickname">vinaalfiani</span>
                        </div>
                    	<span class="text"><strong>@vinaalfiani</strong> enak banget nih... ada yg mau?</span>
                        <a class="detail" href="#">click for detail</a>
                    </div>
                  	<div class="kursi kursi1">
                    	<div class="piring">
                        	<div class="thumbFood">
                            	<a href="#"><img src="content/food/thumb/sammich.jpg" /></a>
                            </div>
                        </div>
                        <div class="hadiah"></div>
                    </div>
                  </div><!-- end .item -->
                  <div id="l2" class="item">
                  	<div class="status">
                    	<div class="user">
                        	<a class="thumb" href="#"><img src="content/user/thumb/2.jpg" /></a>
                            <span class="nickname">sibiru</span>
                        </div>
                    	<span class="text"><strong>@sibiru</strong> jalan jalan sore bareng axis biar exist!</span>
                        <a class="detail" href="#">click for detail</a>
                    </div>
                  	<div class="kursi kursi2">
                    	<div class="piring">
                        	<div class="thumbFood">
                            	<a href="#"><img src="content/food/thumb/capcay.jpg" /></a>
                            </div>
                        </div>
                        <div class="hadiah"></div>
                    </div>
                  </div><!-- end .item -->
                  <div id="l1" class="item">
                  	<div class="status">
                    	<div class="user">
                        	<a class="thumb" href="#"><img src="content/user/thumb/3.jpg" /></a>
                            <span class="nickname">dininovianti</span>
                        </div>
                    	<span class="text"><strong>@dininovianti</strong> makannan sehat di bulan puasa</span>
                        <a class="detail" href="#">click for detail</a>
                    </div>
                  	<div class="kursi kursi3">
                    	<div class="piring">
                        	<div class="thumbFood">
                            	<a href="#"><img src="content/food/thumb/dietmeal.jpg" /></a>
                            </div>
                        </div>
                        <div class="hadiah"></div>
                    </div>
                  </div><!-- end .item -->
			  </div>
			  <div id="right">
					<div id="r0" class="item">
						<div class="status">
							<div class="user">
								<a class="thumb" href="#"><img src="content/user/thumb/4.jpg" /></a>
								<span class="nickname">ahokbtp</span>
							</div>
							<span class="text"><strong>@ahokbtp</strong> soto buatan sendiri nihh</span>
							<a class="detail" href="#">click for detail</a>
						</div>
						<div class="kursi kursi4">
							<div class="piring">
								<div class="thumbFood">
									<a href="#"><img src="content/food/thumb/soto.jpg" /></a>
								</div>
							</div>
							<div class="hadiah"></div>
						</div>
					</div><!-- end .item -->
					<div id="r1" class="item">
						<div class="status">
							<div class="user">
								<a class="thumb" href="#"><img src="content/user/thumb/5.jpg" /></a>
								<span class="nickname">helloworld</span>
							</div>
							<span class="text"><strong>@helloworld</strong> Sushi lorem ipsum..maknyuss</span>
							<a class="detail" href="#">click for detail</a>
						</div>
						<div class="kursi kursi5">
							<div class="piring">
								<div class="thumbFood">
									<a href="#"><img src="content/food/thumb/sushi.jpg" /></a>
								</div>
							</div>
							<div class="hadiah"></div>
						</div>
					</div><!-- end .item -->
					<div id="r2" class="item">
						<div class="status">
							<div class="user">
								<a class="thumb" href="#"><img src="content/user/thumb/6.jpg" /></a>
								<span class="nickname">fridaykurnia</span>
							</div>
							<span class="text"><strong>@fridaykurnia</strong> sushi apa lemper... ada yg mau?</span>
							<a class="detail" href="#">click for detail</a>
						</div>
						<div class="kursi kursi6">
							<div class="piring">
								<div class="thumbFood">
									<a href="#"><img src="content/food/thumb/sushi.jpg" /></a>
								</div>
							</div>
							<div class="hadiah"></div>
						</div>
					</div><!-- end .item -->
					<div id="r3" class="item">
						<div class="status">
							<div class="user">
								<a class="thumb" href="#"><img src="content/user/thumb/7.jpg" /></a>
								<span class="nickname">ilhamakay</span>
							</div>
							<span class="text"><strong>@ilhamakay</strong> enyak banget nih... ada yg mau?</span>
							<a class="detail" href="#">click for detail</a>
						</div>
						<div class="kursi kursi7">
							<div class="piring">
								<div class="thumbFood">
									<a href="#"><img src="content/food/thumb/soto.jpg" /></a>
								</div>
							</div>
							<div class="hadiah"></div>
						</div>
					</div><!-- end .item -->
			   </div>
			</div><!-- end .content-conveyor -->
		  </div><!-- end .viewer -->
		  <div id="slider"></div>
		  <div id="copySlide">
			<div class="left">
				<h1>ELO DUDUK DI MANA? SCROLL AJA BEB!</h1>
			</div>
			<div class="right">
				<h1>GAK NEMU? GABUNG DONG BEB!</h1>
			</div>
		  </div>
		</div><!-- end #sliderContent -->
	</div><!-- end #slide -->
</div><!-- end #header -->
<div class="wrapper">
	<div id="container">
		<div id="lefBar">
			{$userStats}
			{$pushSelling}
		</div><!-- end #lefBar -->
		<div id="center">
			{$adminHAP}
			{$obrolanMejaMakan}
		</div><!-- end #center -->
		<div id="rightBar">
			{$updateStatus}
			{$weeklyWinner}
		</div><!-- end #rightBar -->
		{$newsTicker}
	</div><!-- end #container -->
</div><!-- end .wrapper -->