<div id="popupImage" class="popupContainer" style="display:block">
    <div id="popupContent">
    	<div class="popupTop">
       	 <a class="closePopup" href="#">X</a>
        </div>
        <div class="poupContent">
        	<div class="authorImage">
                <a class="thumb"><img src="" /></a>
                <span class="userName"></span>
            </div>
        	<div class="fullImage">
          	  <img src="" />
            </div>
        </div><!-- end .poupContent -->
    </div><!-- end #poupContent -->
</div><!-- end .popupContainer -->