<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>AXIS BAROKAH - GSM YANG BAIK</title>
<link rel="shortcut icon" href="{$mobileUrl}img/favicon.ico">
<link rel="apple-touch-icon" href="{$mobileUrl}img/favicon.png">
<link rel="stylesheet" type="text/css" href="{$mobileUrl}css/axismobile.css">
<script type="text/javascript" src="{$mobileUrl}js/jquery-1.js"></script>
<script type="text/javascript" src="{$mobileUrl}js/jquery-ui-1.js"></script>
<script type="text/javascript" src="{$mobileUrl}js/axis.js"></script>
</head>

<body>
<div id="body">
	<div id="top">
    	<span class="welcome">Hello, User</span>
        <a href="#" class="btnYellow">Logout</a>
    </div><!-- end #top -->
    <div class="wrapper">
        <div id="container">
            <div class="row">
                <a class="thumb showPopup" href="#popupUser"><img src="{$mobileUrl}content/user/thumb/1.jpeg" /></a>
                <div class="entry">
                    <p><a class="showPopup" href="#popupUser">@vinaalviani</a> paling enak emang buka puasa bareng keluarga.</p>
                    <span class="time">14:30</span>
                    <span class="date">17 Agustus 2012</span>
                </div>
            </div><!-- end .row -->
            <div class="row">
                <a class="thumb showPopup" href="#popupUser"><img src="{$mobileUrl}content/user/thumb/1.jpeg" /></a>
                <div class="entry">
                    <p><a class="showPopup" href="#popupUser">@vinaalviani</a> paling enak emang buka puasa bareng keluarga.</p>
                    <span class="time">14:30</span>
                    <span class="date">17 Agustus 2012</span>
                </div>
            </div><!-- end .row -->
            <div class="row">
                <a class="thumb showPopup" href="#popupUser"><img src="{$mobileUrl}content/user/thumb/1.jpeg" /></a>
                <div class="entry">
                    <p><a class="showPopup" href="#popupUser">@vinaalviani</a> paling enak emang buka puasa bareng keluarga.</p>
                    <span class="time">14:30</span>
                    <span class="date">17 Agustus 2012</span>
                </div>
            </div><!-- end .row -->
            <div class="row">
                <a class="thumb showPopup" href="#popupUser"><img src="{$mobileUrl}content/user/thumb/1.jpeg" /></a>
                <div class="entry">
                    <p><a class="showPopup" href="#popupUser">@vinaalviani</a> paling enak emang buka puasa bareng keluarga.</p>
                    <span class="time">14:30</span>
                    <span class="date">17 Agustus 2012</span>
                </div>
            </div><!-- end .row -->
        </div><!-- end #container -->
        <div id="paging">
        	<a href="#" class="prev">PREV</a>
        	<a href="#" class="next">NEXT</a> 
        </div>
    </div><!-- end .wrapper -->
    <div id="updateStatus">
        <form id="update_status">
            <div class="row">
                <label>PHOTO</label>
                <input type="file" />
            </div>
            <div class="row">
               <label class="left">STATUS</label>
               <span class="maxChar">140 KARAKTER</span>
               <textarea class="message_status"></textarea>
            </div>
            <div class="row rowSubmit">
                <input type="submit" value="UPDATE" class="submitStatus" />
            </div>
        </form>
	</div><!-- end #updateStatus -->
    <div id="footer">
    	<div class="footer">
            <span class="copy">&copy; 2012 AXIS. All rights reserved.</span>
        </div>
    </div><!-- end #footer -->
</div><!-- end #body -->
</body>
</html>