<div id="popupPaketRamadhan" class="popupContainer">
    <div id="popupContent">
    	<div class="popupTop">
         <h1 style="">Paket Ramadhan AXIS</h1>
       	 <a class="closePopup" href="#">X</a>
        </div>
        <div class="poupContent popupWeeklyWinner">
        		<div class="styleTable">
                    <table cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Internet   Gaul Mingguan</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 400 MB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_4_1/buy_package/SOCIALMINGGU">BELI</a></td>
                        <td>9900</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Internet   Gaul Bulanan</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 800 MB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_4_2/buy_package/SOCIALBULAN">BELI</a></td>
                        <td>29900</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>AXIS   Pro Mingguan</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 750 MB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_3_1/buy_package/PROMINGGU">BELI</a></td>
                        <td>24900</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>AXIS   Pro Bulanan Basic</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 1,5 GB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_3_2/buy_package/PROBULAN500">BELI</a></td>
                        <td>49000</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>AXIS   Pro Bulanan Premium</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 3 GB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_3_3/buy_package/PROBULAN1GB">BELI</a></td>
                        <td>79000</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>AXIS   Pro Mingguan Ultimate</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 6 GB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_3_4/buy_package/PROBULAN2GB">BELI</a></td>
                        <td>149000</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Paket   Sahur</td>
                        <td>Gratis   Internet, Nelpon &amp; SMS ke semua AXIS sepuasnya, 10 SMS ke operator lain.   Mulai jam 12 malam - 6 pagi</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/2_7_1/buy_package/RAMADHAN2012">BELI</a></td>
                        <td>1000</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Paket   Internet &amp; SMS Rp1500</td>
                        <td>Gratis   Internet 15MB, SMS ke semua AXIS sepuasnya, 50 SMS ke operator lain seharian</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/2_8_1/buy_package/SMSDATAHARI">BELI</a></td>
                        <td>1500</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Paket   Super Hemat Harian</td>
                        <td>Gratis   nelpon ke semua AXIS sepuasnya, 10ribu SMS ke semua AXIS, 50 SMS ke operator   lain, Unlimited internet FUP 5MB</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_2_1/buy_package/COMBOHARI">BELI</a></td>
                        <td>5000</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Paket   Super Hemat Mingguan</td>
                        <td>Gratis   nelpon ke semua AXIS sepuasnya, 10ribu SMS ke semua AXIS, 200 SMS ke operator   lain, Unlimited internet FUP 50MB</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_2_2/buy_package/COMBOMINGGU">BELI</a></td>
                        <td>19900</td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>Paket   Super Hemat Bulanan</td>
                        <td>Gratis   nelpon ke semua AXIS sepuasnya, 10ribu SMS ke semua AXIS, 1000 SMS ke   operator lain, Unlimited internet FUP 200MB</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_2_3/buy_package/COMBOBULAN">BELI</a></td>
                        <td>69900</td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>Paket   Internet Harian Kuota 10MB</td>
                        <td>Kuota   internet 10MB</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/6/2_6_1/buy_package/HARIANH">BELI</a></td>
                        <td>1000</td>
                      </tr>
                      <tr>
                        <td>13</td>
                        <td>Transfer   Paket Internet Harian Kuota 10MB</td>
                        <td>Kuota   internet 10MB</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_1_1/gift_package/GIFTHARIANH">BELI</a></td>
                        <td>1000</td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>Transfer   Paket Sahur</td>
                        <td>Gratis   Internet, Nelpon &amp; SMS ke semua AXIS sepuasnya, 10 SMS ke operator lain.   Mulai jam 12 malam - 6 pagi</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_1_2/gift_package/RAMADHAN2012GIFT">BELI</a></td>
                        <td>1000</td>
                      </tr>
                      <tr>
                        <td>15</td>
                        <td>Transfer   Internet Gaul</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 400 MB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_1_3/gift_package/GIFTSOCIALMINGGU">BELI</a></td>
                        <td>9900</td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td>Transfer   AXIS Pro Bulanan Basic</td>
                        <td>-   Lebih cepat hingga 7.2 Mbps<br />
                          - FUP lebih besar hingga 1,5 GB<br />
                          - Harga tetap</td>
                        <td><a href="http://net.axisworld.co.id/menu/gets/package/13/3_1_4/gift_package/GIFTPROBASIC">BELI</a></td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                </div>
        </div><!-- end .poupContent -->
    </div><!-- end #poupContent -->
</div><!-- end .popupContainer -->