<div id="top">
	<div class="wrapper">
		<a href="index.php" class="logoBerkah">&nbsp;</a>
		<div class="userInfo">
			<a href="index.php" class="logoAxis">&nbsp;</a>
			<div class="clear">
				<a href="#" class="thumb"><img src="{$pic}" /></a>
				<span class="welcome">Hello, {$user_realname}</span>
				<a href="#popupEditProfile" class="edit showPopup" onclick="javascript:loadProfile()">&nbsp;</a>
				<a href="logout.php" class="logout">&nbsp;</a> 
			</div>
		</div>
	</div>
</div><!-- end #top -->