<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>AXIS BERKAH - GSM YANG BAIK</title>
<link rel="shortcut icon" href="{$barokahUrl}img/favicon.ico">
<link rel="apple-touch-icon" href="{$barokahUrl}img/favicon.png">
<link rel="stylesheet" type="text/css" href="{$barokahUrl}css/axis.css" />
<link rel="stylesheet" type="text/css" href="{$berkahUrl}css/axisBerkah.css" />
<link rel="stylesheet" type="text/css" href="{$barokahUrl}css/jquery-ui-1.7.2.custom.css">
<link rel="stylesheet" type="text/css" href="{$barokahUrl}css/jscrollpane.css" />
<link rel="stylesheet" type="text/css" href="{$berkahUrl}css/scrollbar.css">
<link rel='stylesheet' media='screen and (min-width: 768px) and (max-width: 1024px)' href='{$barokahUrl}css/axismedium.css' />
<script type="text/javascript" src="{$barokahUrl}js/jquery-1.js"></script>
<script type="text/javascript" src="{$barokahUrl}js/jquery-ui-1.js"></script>

<script type="text/javascript" src="{$barokahUrl}js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="{$barokahUrl}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{$barokahUrl}js/jquery.jscrollpane.min.js"></script>

<script type="text/javascript" src="{$barokahUrl}js/jquery-scroller-v1.min.js"></script>
<script type="text/javascript" src="{$barokahUrl}js/scroll-startstop.events.jquery.js"></script>
<script type="text/javascript" src="{$barokahUrl}js/jquery.form.js"></script>
<script type="text/javascript" src="{$berkahUrl}js/axisberkah.js"></script>
<script type="text/javascript" src="{$berkahUrl}js/axisberkah_data.js"></script>
<script type="text/javascript" src="{$berkahUrl}js/axisberkah_draw.js"></script>