<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>AXIS BERKAH - GSM YANG BAIK</title>
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/favicon.png">
<link rel="stylesheet" type="text/css" href="css/axisberkahmobile.css">
<script type="text/javascript" src="js/jquery-1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.js"></script>
<script type="text/javascript" src="js/axis.js"></script>
</head>

<body>
<div id="body">
    <div id="top">
        <a class="logo right"><img src="img/mobile/logo.png" /></a>
    </div><!-- end #top -->
    <div id="bodyLogin">
        <div id="connectTwitter">
            <a href="{$login_twitter_url}"><img src="img/berkah/mobile/twitter_connect.png" /></a>
        </div><!-- end #updateStatus -->
        <div id="footer">
            <div class="footer centerText">
                <span class="copy">&copy; 2012 Axis. All rights reserved.</span>
            </div>
        </div><!-- end #footer -->
    </div><!-- end #bodyLogin -->
</div><!-- end #body -->
{literal}
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-867847-38']);
      _gaq.push(['_setDomainName', 'tangkapberkahaxis.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    {/literal}
</body>
</html>